---
title: GitLab Documentation
---
<!-- <div class="row">
  <ul class="topics" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <% if ENV['NANOC_ENV'] == 'production' %>
      <% @config[:products].each do |name, product| %>
        <% if product[:expose] == true %>
          <li class="topic topic-<%= product[:slug] %>">
            <a itemprop="url" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
              <div class="wrapper">
                <h2 itemprop="name"><%= product[:short_name] %></h2>
                <p><%= product[:description] %></p>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <% @config[:products].each do |name, product| %>
        <% if Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
          <li class="topic topic-<%= product[:slug] %>">
            <a href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
              <div class="wrapper">
                <h2><%= product[:short_name] %></h2>
                <p><%= product[:description] %></p>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div> -->
<div class="row">
  <ul class="topics">
    <li>
      <a href="">
        <div class="wrapper flex-container flex-column">
          <img src="/assets/images/docs-gitlab.svg" alt="gitlab line logo">
          <h2 itemprop="name">GitLab</h2>
          <p>Browse user and administration documentation and guides for GitLab Community Edition, Enterprise Edition, and GitLab.com.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="wrapper flex-container flex-column">
          <img src="/assets/images/docs-omnibus.svg" alt="gitlab omnibus icon">
          <h2 itemprop="name">Omnibus</h2>
          <p>Browse installation, configuration, maintenance, and troubleshooting documentation for Omnibus GitLab.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="wrapper flex-container flex-column">
          <img src="/assets/images/docs-runner.svg" alt="gitlab runner icon">
          <h2 itemprop="name">Runner</h2>
          <p>Browse installation, configuration, maintenance, and troubleshooting documentation for GitLab Runner.</p>
        </div>
      </a>
    </li>
  </ul>
</div>
<div class="popular-topics">
  <h1>Most popular topics</h1>
  <div class="topics-container flex-container">
    <a class="topic" href="">
      <h4>CI/CD YAML reference</h4>
      <p>Learn how to configure gitlab-ci.yml for your project.</p>
    </a>
    <a class="topic" href="">
      <h4>API</h4>
      <p>Automate GitLab via a simple and powerful API.</p>
    </a>
    <a class="topic" href="">
      <h4>SSH</h4>
      <p>Learn how to create an SSH key pair and configure GitLab to authenticate via SSH from your local computer.</p>
    </a>
    <a class="topic" href="">
      <h4>GitLab.com Settings</h4>
      <p>Information about the settings that are used on GitLab.com, like SSH keys fingerprints, shared Runners configuration, etc.</p>
    </a>
  </div>
</div>
